<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wulei.warehousebackend.mapper.RecordMapper">

    <resultMap id="BaseResultMap" type="com.wulei.warehousebackend.model.entity.Record">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="starts" column="starts" jdbcType="VARCHAR"/>
            <result property="goals" column="goals" jdbcType="VARCHAR"/>
            <result property="gird" column="gird" jdbcType="VARCHAR"/>
            <result property="paths" column="paths" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,starts,goals,
        gird,paths,user_id,
        create_time
    </sql>
</mapper>
